[Unit]
Description=Apply persisted Kaonic WiFi mode
Wants=systemd-networkd.service
After=local-fs.target kaonic-init.service systemd-networkd.service
Before=kaonic-commd.service kaonic-factory.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/kaonic-wifi-mode apply

[Install]
WantedBy=multi-user.target
