[Unit]
Description=Kaonic OTA
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/kaonic-ota.py
WorkingDirectory=/home/root/
Restart=always
RestartSec=5
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

