[Unit]
Description=Hostapd IEEE 802.11 Access Point
Wants=systemd-networkd.service
Before=systemd-networkd.service
Before=systemd-networkd-wait-online.service
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=simple
ExecCondition=/bin/sh -c 'mode="$(sed -n "1p" /etc/kaonic/wifi-mode 2>/dev/null || true)"; [ "${mode:-ap}" = ap ]'
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf -P /run/hostapd.pid

[Install]
WantedBy=multi-user.target
