[Unit]
Description=Access point and authentication server for Wi-Fi and Ethernet
After=network.target
ExecCondition=/bin/sh -c 'mode="$(sed -n "1p" /etc/kaonic/wifi-mode 2>/dev/null || true)"; [ "${mode:-ap}" = ap ]'

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf -B -P /run/hostapd.pid

[Install]
WantedBy=multi-user.target
